*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

:root{
  --font: 'Poppins', sans-serif;

  --purple-color: #8A1485;
  --gradient: linear-gradient(180deg, #8A1485 14.58%, rgba(165, 68, 143, 0.60) 100%);
  --color-font: #7B7B7B;
  --white-color: #FFFFFF;
}

body{
  background-color: #f9f8f8;
}

p, a, ul{
  margin-bottom: 0 !important;
  color: var(--color-font);
  text-decoration: none;
}

ul li{
  list-style: none;
}

i, button{
  color: var(--white-color);
}

h1,h2,h3,h4,h5,h6{
  color: var(--purple-color);
}

.navbar-container i{
  background-color: var(--purple-color);
  padding: 0.5rem;
  border-radius: 999%;
}

.navbar-container ul li a{
  margin: 0 1rem;
  font-weight: 600;
}